.ReleaseDay {
  margin-bottom: 0 !important;
  align-items: flex-start;

  @include touch {
    flex-direction: column;

    &:first-child {
      margin-top: -10px;

      @include theme(compact) {
        margin-top: -5px;
      }
    }
  }

  &__date {
    flex: 0 0 225px;
    margin-top: 25px !important;
    top: 16px;
    color: $grey-light;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;
    position: sticky;
    background: $black;
    z-index: 2;

    @include theme(compact) {
      margin-top: 16px !important;
      font-size: 1.25rem;
    }

    @include desktop-only {
      flex: 0 0 170px;
    }

    @include touch {
      width: fit-content;
      margin: 0 auto !important;
      flex: none;
      top: 10px;
      border-radius: 9999px;
      filter: drop-shadow(0px 0px 6px $black);

      .columns.is-gapless & {
        padding: 2px 16px !important;
      }
    }
  }

  &__bullet {
    color: $blue;
    font-size: 8px;
    margin-right: 2px;

    @include touch {
      margin-left: -8px;
    }
  }

  &__albums {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    width: 100%;
  }
}
