.Settings {
  align-items: center;

  &__content {
    width: 100%;
    max-width: $tablet;
  }

  &__layout {
    @include mobile {
      flex-direction: column;
    }
  }

  &__children {
    background-color: $black-bis;
    border-radius: 10px;

    @include tablet {
      padding: 20px;
      width: 100%;
      margin-left: 20px;
    }

    @include mobile {
      padding: 15px;
      margin-top: 15px;
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  &__field {
    margin-bottom: 30px !important;

    &:last-child {
      margin-bottom: 0 !important;
    }

    .control {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      @include tablet {
        display: flex;
      }

      .field {
        @include tablet {
          margin-bottom: 0;
          margin-right: 8px;
        }
      }
    }

    .select {
      @include mobile {
        width: 100%;
      }

      select {
        @include mobile {
          width: 100%;
        }
      }
    }
  }

  &__help {
    margin-bottom: 10px;
  }
}
