.UpdatePlaylistModal {
  &__label {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__spinner {
    width: 16px;
    height: 16px;
  }

  &__refresh {
    padding: 0 !important;
    margin-left: 6px;
    height: auto;
  }

  &__warning {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    i {
      font-size: 32px;
    }
  }
}
