.AboutSettings {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    margin-bottom: 15px;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }

    @include mobile {
      width: 100%;
    }
  }
}
