.Album {
  margin: 25px 0 0 20px !important;
  padding: 0 !important;
  border: none !important;
  flex: 0 0 400px;

  @include desktop-only {
    flex: 0 0 calc(50% - 20px);
  }

  @include touch {
    margin-left: 0 !important;
    margin-top: 20px !important;
  }

  @include tablet-only {
    flex: 0 0 calc(50% - 10px);

    &:nth-child(even) {
      margin-left: 20px !important;
    }
  }

  @include mobile {
    flex: 0 0 calc(100%);
  }

  .media-left {
    margin: 0 15px 0 0 !important;

    figure {
      border-radius: 3px;
      height: 60px;
      width: 60px;

      img {
        border-radius: 3px;
      }
    }
  }

  .content {
    a {
      color: $color-primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .title {
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: 1.1;
    }
  }
}
