.Album {
  margin: 25px 0 0 20px !important;
  padding: 0 !important;
  border: none !important;
  flex: 0 0 400px;

  @include theme(compact) {
    margin-top: 20px !important;
    flex: 0 0 300px;
  }

  @include theme(single-column) {
    flex: 0 0 calc(100% - 20px);
  }

  @include desktop-only {
    flex: 0 0 calc(50% - 20px);

    @include theme(compact) {
      flex: 0 0 calc(33.33333333% - 20px);
    }

    @include theme(single-column) {
      flex: 0 0 calc(100% - 20px);
    }
  }

  @include touch {
    margin-top: 20px !important;

    @include theme(compact) {
      margin-left: 15px !important;
      margin-top: 15px !important;
    }

    @include theme(single-column) {
      margin-left: 0 !important;
    }
  }

  @include tablet-only {
    flex: 0 0 calc(50% - 10px);

    &:nth-child(2n + 1) {
      margin-left: 0 !important;
    }

    @include theme(compact) {
      &:nth-child(2n + 1) {
        margin-left: 15px !important;
      }

      &:nth-child(3n + 1) {
        margin-left: 0 !important;
      }

      flex: 0 0 calc(33.33333333% - 10px) !important;
    }

    @include theme(single-column) {
      flex: 0 0 100%;
    }

    @include theme(single-column, compact) {
      margin-left: 0 !important;
    }
  }

  @include mobile {
    flex: 0 0 100%;
    margin-left: 0 !important;

    @include theme(compact) {
      flex: 0 0 100%;
      margin-left: 0 !important;
    }

    @include theme(single-column) {
      flex: 0 0 100%;
    }
  }

  .media-left {
    margin: 0 15px 0 0 !important;

    @include theme(compact) {
      margin-right: 10px !important;
    }

    figure {
      border-radius: 3px;
      height: 60px;
      width: 60px;
      background-color: #121212;

      @include theme(compact) {
        height: 40px;
        width: 40px;
      }

      img {
        border-radius: 3px;
        filter: brightness(0.92);
      }
    }
  }

  .content {
    a {
      text-decoration: none;

      &:hover {
        text-decoration-line: underline;
      }
    }

    .title {
      display: block;
      margin-top: 4px;
      margin-bottom: 5px;
      line-height: 1.2;
      color: $color-primary-slightly-darker;
      text-decoration-color: $color-primary-dark;

      @include theme(compact) {
        font-size: 1rem !important;
        margin-top: 1px;
        margin-bottom: 4px;
      }

      @include theme(single-column) {
        width: fit-content;
      }
    }

    .artists {
      line-height: 1.3;

      @include theme(compact) {
        font-size: 0.8rem;
      }
    }
  }
}
