.Anchor {
  color: $grey-light;
  text-decoration-color: $grey;
  text-decoration-line: underline;

  &:hover {
    text-decoration: none;
    color: $grey-light;
  }

  &.button {
    text-decoration: none;
  }
}
