.fade-in-top {
  animation: fade-in-top 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.fade-in-left {
  animation: fade-in-left 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
