html,
body,
#root,
#root > div:first-child {
  height: 100%;
}

.is-modal-open {
  position: fixed;
  overflow: hidden;
  width: 100%;
}

.has-text-primary {
  color: $color-primary !important;
}

.input.is-dark {
  background-color: $color-dark;
  border-color: $color-dark;
  color: $white-ter;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 0.125em $black-bis;
    background-color: $black-ter;
    border-color: $black-ter;
  }

  &::placeholder {
    color: $grey;
  }
}

.input.is-danger {
  border-color: $red;

  &:hover,
  &:focus {
    border-color: $red;
  }
}

.button.is-darker {
  background-color: $color-dark;
}

.button.is-primary {
  background-color: $color-primary !important;

  &:hover {
    background-color: $color-primary-light !important;
  }

  &:active {
    background-color: $color-primary-slightly-darker !important;
  }
}

.button.is-text {
  color: $white-bis;
  padding-left: 6px;
  padding-right: 6px;
  border: none !important;
  box-shadow: none !important;
  background: none !important;

  &:focus {
    color: $white-bis;
  }

  &:hover {
    color: $grey-lighter;
    text-decoration: none;
  }

  &:active {
    color: $grey-light;
  }
}

.button.has-badge .icon:nth-child(2) {
  margin-left: calc(-0.5em - 1px) !important;
}

.badge {
  display: block;
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 0 4px;
  margin: 0;
  font-size: 10px;
  border-radius: 8px;
  color: $color-dark;

  &.badge-inline {
    display: inline-block;
    position: static;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 12px;
  }

  &.is-primary {
    background-color: $color-primary;
  }
}

.is-checkradio[type='checkbox']:focus + label::before,
.is-checkradio[type='checkbox']:focus + label:before,
.is-checkradio[type='radio']:focus + label::before,
.is-checkradio[type='radio']:focus + label:before {
  outline: none;
}

.modal-content {
  padding: 30px;
  border-radius: 3px;

  .title {
    margin-bottom: 24px;
  }
}

.progress::-webkit-progress-value {
  transition: width 0.5s linear;
}

.button[disabled] {
  opacity: 0.7;
}

.is-checkradio[type='checkbox'] {
  &:hover {
    &.is-dark.has-background-color {
      + label {
        color: $grey-light;

        &::before,
        &:before {
          background-color: $black-ter !important;
          border-color: transparent !important;
        }
      }
    }
  }

  + label {
    color: $white-ter;
    user-select: none;

    &::after,
    &:after {
      border-width: 0.15rem !important;
    }
  }

  &.is-dark.has-background-color {
    + label {
      color: $grey;

      &::before,
      &:before {
        background-color: $color-dark !important;
      }
    }

    &:checked {
      + label {
        color: $grey-light;

        &::before,
        &:before {
          background-color: $color-dark !important;
        }

        &::after,
        &:after {
          background-color: $color-dark !important;
          border-color: $white-ter !important;
        }
      }
    }
  }
}
