.Content {
  padding: 0 15px 50px;
  flex: 1 1 auto;
  position: relative;

  .center {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 15px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mobile {
      > div,
      > p {
        width: 100%;
      }
    }
  }

  .loading {
    progress {
      width: 100%;
      max-width: 600px;
      margin-bottom: 10px;
    }
  }

  .intro {
    margin-bottom: 30px;
  }

  .links {
    margin-top: 30px;
  }
}
