.DateRangePicker {
  &_picker {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.07);
  }
}

.DateRangePickerInput {
  border-radius: 290486px;
  padding: 0;
  border: 1px solid #ffffff;

  @include mobile-small {
    border-radius: 2px;
  }
}

.DateInput {
  background: none;

  &_input {
    font-size: 16px;
    font-weight: 400;
    color: #363636;
    background-color: #ffffff;
    border-color: #dbdbdb;
    border-radius: 290486px;
    line-height: 1.5;
    border-bottom: none;
    padding: 7px 17px;

    &__focused {
      border-bottom: none;
    }
  }
}

.CalendarDay {
  &__default {
    text-align: center !important;
    vertical-align: middle !important;
  }

  &__selected {
    background: #1cb954;
    border: 1px solid #1cb954;

    &:hover {
      background: #1cb954;
      border: 1px solid #1cb954;
    }

    &_span {
      background: rgba(72, 199, 116, 0.7);
      border: 1px solid rgba(72, 199, 116, 0.8);

      &:hover {
        background: #1cb954;
        border: 1px solid #1cb954;
      }
    }
  }

  &__hovered {
    &_span {
      background: rgba(72, 199, 116, 0.2);
      border: 1px solid rgba(72, 199, 116, 0.3);
    }
  }
}

.DayPickerKeyboardShortcuts {
  &_show {
    &__bottomRight {
      &:hover {
        &:before {
          border-right: 33px solid #16c453;
        }
      }

      &:before {
        border-right: 33px solid #1cb954;
      }
    }
  }
}

.DayPicker {
  box-shadow: none;
}

.KeyboardShortcutRow {
  &_keyContainer {
    display: inline !important;
  }

  &_key {
    font-family: monospace !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    background: rgb(242, 242, 242) !important;
    padding: 2px 6px !important;
  }

  &_action {
    display: inline !important;
    word-break: break-word !important;
    margin-left: 8px !important;
  }
}
