.DateRangePicker {
  flex-shrink: 0;

  @include mobile-small {
    width: 100%;
  }

  &_picker {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.07);
    background-color: $darkest;
  }
}

.DateRangePickerInput {
  border-radius: 290486px;
  padding: 0;
  background-color: $darkest;
  border: 1px solid $darkest;
  color: $white-ter;

  @include mobile-small {
    display: flex;
    align-items: center;
  }

  &:hover {
    background-color: $black-ter;
    border-color: $black-ter;
  }

  &_arrow_svg {
    fill: $grey;
  }
}

.DateInput {
  background: none;

  &_input {
    font-size: 16px;
    font-weight: 500;
    color: $white-ter;
    background: none;
    border: none;
    border-radius: 290486px;
    line-height: 1.5;
    border-bottom: none;
    padding: 7px 17px;

    &::placeholder {
      color: $grey;
    }

    &__focused {
      border-bottom: none;
    }
  }

  &_fangShape {
    fill: $darkest;
  }

  &_fangStroke {
    stroke: $darkest;
  }
}

.CalendarMonthGrid {
  background-color: $darkest;
}

.CalendarMonth {
  background-color: $darkest;

  &_caption strong {
    color: $grey-lightest;
  }
}

.CalendarDay {
  background-color: $grey-darker;
  color: $grey-lightest;
  border: none !important;
  text-align: center !important;
  vertical-align: middle !important;

  &:hover {
    background-color: $grey-dark;
    color: $grey-lightest;
  }

  &__selected {
    background-color: $primary;
    color: $white-ter;

    &_span {
      background-color: rgba(72, 199, 116, 0.5);

      &:hover {
        background-color: rgba(72, 199, 116, 0.7);
      }
    }

    &:hover {
      background-color: rgba(72, 199, 116, 0.7);
    }
  }

  &__hovered {
    &_span {
      background-color: rgba(72, 199, 116, 0.3);

      &:hover {
        background-color: rgba(72, 199, 116, 0.5);
      }
    }
  }

  &__blocked_out_of_range {
    color: $grey-dark !important;
    background-color: $black-ter !important;
  }
}

.DayPicker {
  box-shadow: none;
  background-color: $darkest;

  &_weekHeader {
    color: $grey-light;
  }
}

.DayPickerNavigation {
  &_button {
    background-color: $grey-darker;
    border-color: $grey-darker;
    outline: none;

    &:active,
    &:focus,
    &:hover {
      background-color: $grey-dark;
      border-color: $grey-dark;
    }

    &__disabled {
      background-color: $black-ter !important;
      border-color: $black-ter !important;
    }
  }

  &_svg__horizontal {
    fill: $white-ter;
  }
}
