.Error {
  position: absolute;
  width: auto;
  max-width: 600px;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;

  @include mobile {
    width: calc(100% - 30px);
    max-width: none;
    left: 15px;
    transform: none;
  }
}
