.Header {
  display: flex;
  align-items: center;
  padding: 15px;
  flex: 0 0 auto;

  @include touch {
    flex-wrap: wrap;
  }

  .title {
    margin-bottom: 0 !important;
    margin-right: 20px;
    user-select: none;
    text-align: right;
    flex: 0 0 225px;

    @include touch {
      margin-right: 0;
      text-align: left;
      flex: 0 1 auto;
    }

    @include mobile-small {
      font-size: 22px;
    }
  }

  .left {
    display: flex;
    align-items: center;

    @include touch {
      order: 2;
      flex: 0 0 100%;
      margin-top: 15px;
    }

    @include mobile {
      flex-wrap: wrap;
    }

    .button {
      margin-right: 15px;

      @include mobile {
        margin-right: 10px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .right {
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    align-items: center;

    button {
      margin-right: 15px;

      @include mobile {
        padding-left: 1em;
        padding-right: 1em;
        margin-right: 10px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
