.Intro {
  &__description {
    margin-bottom: 30px;
  }

  &__buttons {
    margin-top: 25px;
  }

  &__button {
    margin: 0 10px;
  }

  &__footer {
    margin-top: 25px;
    font-size: 16px;
    font-weight: 500;
    color: $grey-light;
  }
}
