.PlaylistModal {
  .modal-content {
    .control {
      display: flex;

      @include mobile {
        flex-direction: column;
      }

      .field {
        margin-bottom: 0;
        margin-right: 8px;

        @include mobile {
          margin-right: 0;
          margin-bottom: 10px;
        }

        label {
          user-select: none;
        }
      }

      select {
        width: 100%;
      }
    }

    .field {
      margin-bottom: 24px;
    }

    .actions {
      margin-bottom: 0;

      .column {
        @include mobile {
          margin-top: 20px;

          &:first-child {
            margin-top: 0;
          }
        }

        .button {
          @include mobile {
            width: 100%;
          }
        }
      }
    }
  }
}
