.PlaylistInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 40px 0;

  a {
    color: $primary;
    text-decoration-line: none;
    text-decoration-color: $primary-dark;
    margin-top: 10px;

    &:hover {
      text-decoration-line: underline;
    }
  }
}
