.ReleaseDay {
  margin: 0 !important;

  @include touch {
    flex-direction: column;

    &:first-child {
      .column.date {
        margin-top: 0 !important;
      }
    }

    @include theme(compact) {
      &:first-child {
        .column.date {
          margin-top: 10px !important;
        }
      }
    }
  }

  .column {
    &.date {
      flex: 0 0 225px;
      line-height: 30px;
      margin: 25px 0 0 0 !important;
      text-align: right;

      .new {
        color: $color-primary;
      }

      @include theme(compact) {
        margin-top: 15px !important;
        font-size: 1.2rem !important;
      }

      @include desktop-only {
        flex: 0 0 170px;
      }

      @include touch {
        flex: none;
        text-align: left;
      }
    }

    &.albums {
      display: flex;
      flex-wrap: wrap;
      flex-basis: auto;
    }
  }
}
