.ReleaseDay {
  margin-bottom: 0 !important;
  align-items: flex-start;

  @include touch {
    flex-direction: column;

    &:first-child {
      margin-top: -10px;

      @include theme(compact) {
        margin-top: -5px;
      }
    }
  }

  &__date {
    flex: 0 0 225px;
    margin-top: 25px !important;
    color: $grey;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;

    @include theme(compact) {
      margin-top: 16px !important;
      font-size: 1.2rem;
    }

    @include desktop-only {
      flex: 0 0 170px;
    }

    @include touch {
      flex: none;
    }

    @include mobile {
      justify-content: center;
    }
  }

  &__bullet {
    color: $blue;
    font-size: 8px;
    margin-right: 2px;
  }

  &__albums {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    width: 100%;
  }
}
